In [6]:
#required Libraries
import yfinance as yf
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

ticker = 'AAPL'
data = yf.download(ticker, start='2018-01-01', end=None)

C:\Users\PCS\AppData\Local\Temp\ipykernel_10120\2803658029.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start='2018-01-01', end=None)
[*********************100%***********************]  1 of 1 completed

In [7]:
data.head(5)

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2018-01-02  40.426815  40.436204  39.722760  39.933979  102223600
2018-01-03  40.419785  40.964255  40.356422  40.490191  118071600
2018-01-04  40.607533  40.710794  40.384583  40.492536   89738400
2018-01-05  41.069851  41.156683  40.612216  40.703743   94640000
2018-01-08  40.917309  41.213010  40.818738  40.917309   82271200